.container {
  max-width: 960px;
  margin: 50px auto;
  padding: 0 15px;
  background: white;
  color: #606060;
  font-size: 14px;
}

.container h1{
  color: #222;
  font-weight: 500;
  margin-bottom: 15px;
}

.container p {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: justify;
}