.button {
  width: 150px;
  height: 40px;
  outline-width: 0;
  font-size: 1rem;
  background: rgba(186, 215, 139, .3);
  border-width: 0;
  cursor: pointer;
  margin-top: 10px;
  color: #74924C;
}

.button:hover {
  background: #BAD78B;
}